{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
 <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
           
            <p>
              Annonce.tn.tn est un site de petites annonces de particulier à particulier et professionnels en Tunisie totalement gratuit.
             Découvrez nos annonces voitures d’occasion, motos, immobilier, emploi, location de vacances, vêtements, électroménager, jouets, déco, meubles, etc.
             Déposez une annonce gratuite en toute simplicité pour vendre, donner vos biens ou promouvoir vos services.
             Avec des milliers de nouvelles annonces mises en ligne vous trouverez l’objet d’occasion ou neuf que vous désirez.
            </p>
            <img src="{{ asset('asset/img/portfolio/people.png') }}" alt="prb diamge">
            </div>

      </div>
    </section><!-- End About Section -->
{% endblock %}
