{% extends 'base.html.twig' %}

{% block title %}Resume{% endblock %}

{% block body %}
<!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
        <hr>
          <h2>Resume</h2>
          <p>Les petites annonces peuvent porter sur des biens, des services ou des emplois. Elles sont réparties en six catégories : véhicules, immobilier,emploi/affaires/services.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Emplois</h3>
            <div class="resume-item pb-0">
              <h4>Les Offres d'emplois</h4>
              <p><em>Une offre d'emploi est un message diffusé par un employeur sur le marché de l'emploi pour exprimer son intention d'embaucher un demandeur d'emploi pour qu'il devienne un employé de son organisation.</em></p>
              
            </div>

            
           
           
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Co-voiturage</h3>
            <div class="resume-item">
              <h4>Les Co-voiturage</h4>
            
              <p>
              <ul>
                <li>Le covoiturage est l'utilisation conjointe et organisée (à la différence de l'auto-stop) d'une voiture automobile, par un conducteur non professionnel et un ou plusieurs tiers passagers, dans le but d'effectuer un trajet commun.</li>
                <li>Il procure des avantages individuels (partager les dépenses de carburant et de maintenance, agrémenter les voyages, développer le lien social) et collectifs (augmenter le taux de remplissage des véhicules, diminuer les embouteillages et la pollution). </li>
               
              </ul>
              </p>
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
{% endblock %}
